.main-banner {
  background-image: url(../../assets/images/banner-image.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 700px;
  border-bottom: 10px #cf919c solid;
}

.main-banner .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 50px;
}
