.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background-color: #eedbdb;
  width: 100%;
}

.main-header .logo {
  width: 100px;
  border-radius: 50%;
}
