.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eedbdb;
  padding: 20px;
  width: 100%;
}

.main-footer .instagram {
  color: #cf919c;
  font-size: 50px;
}
