.second-title {
  text-align: center;
  font-family: "Great Vibes", cursive;
  letter-spacing: 4px;
  font-size: 7rem;
  color: #cf919c;
}

.second-title.-second {
  font-size: 2rem;
  font-family: "Fira code", sans-serif;
  letter-spacing: 2px;
}

.second-title.-third {
  font-size: 2rem;
  font-family: "Fira code", sans-serif;
  letter-spacing: 4px;
  font-size: 22px;
  border-top: 2px solid #cf919c;
  border-bottom: 2px solid #cf919c;
}
